<!DOCTYPE html>
<html>

<head>
    <meta>
    <title>E-mail</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <p>
                    Olá, <strong>{{nome_usuario}}</strong>!
                    Clique no link abaixo para validar sua conta
                    <a href="{{link}}">
                        click Aqui
                    </a>
                    <br /><br />
                    Atenciosamente,<br />
                    Equipe "######"<br />
                </p>
            </td>
        </tr>
    </table>
</body>

</html>
