<html>
    <head>
    </head>
    <body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px; color: #333;">
        <div style="max-width: 600px; margin: 0 auto; background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <h1 style="font-size: 2rem; color: #3498db;">Seu código de verificação é:</h1>
            <h1 style="font-size: 3rem; color: #2980b9;">{{code}}</h1>
            <h2 style="font-size: 1.5rem; color: #555;">Não compartilhe este código!</h2>
            <h3 style="font-size: 1rem; color: #777;">Atenciosamente, Equipe do Inova MT</h3>
        </div>
    </body>
</html>
